[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipython = "*"
requests = "*"
tqdm = "*"
pyyaml = "*"
pytest = "*"
pyarrow = "*"

[dev-packages]
pytest = "*"
tabulate = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
